* {
    box-sizing: border-box;
    font-family: 'ZCOOL XiaoWei', serif;
}

html {
    background: url('https://i.imgur.com/wmPwy29.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

button{
    background: none;
    padding: 10px;
    border: none;
    
}

h1 {
    width: fit-content ; 
    border: 5px solid black;
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
}

div {
    border: 1px solid black;
    width: 80%;
    max-width: 800px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(240, 255, 255, 0.8);
}

p{
    font-family: 'Poppins', sans-serif;
}

li {
    margin-bottom: 15px;
    font-family: 'Poppins', sans-serif;
}